.container {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    position: relative;
}

.label {
    width: 70px;
    display: inline-block;
    height: 30px;
    text-align: right;
}

#loginBox {
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -150px;
    position: absolute;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.333);
}

#loginTitle {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

#username, #password {
    text-align: center;
    height: 50px;
    margin: 20px 0;
}

#submitBtn {
    outline: none;
    display: block;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: #1890ff;
    border: 0;
    color: white;
    margin: auto;
    cursor: pointer;
}

.typeBox {
    outline: none;
    border: 1px solid grey;
    width: 220px;
    height: 30px;
    padding: 0 10px;
    border-radius: 15px;
}

#toregister {
    text-align: center;
    margin: auto;
    display: block;
    font-size: small;
}

.errorType {
    color: red;
    font-weight: bolder;
}