.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

label {
    width: 80px;
    display: inline-block;
    height: 30px;
    text-align: center;
}

#registerBox {
    top: 50%;
    left: 50%;
    width: 400px;
    height: 380px;
    margin-left: -200px;
    margin-top: -190px;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(17, 37, 98, 0.3);
}

#registerTitle {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

#username, #password, #repassword {
    text-align: center;
    height: 50px;
    margin: 20px 0;
}

#submitBtn {
    display: block;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: white;
    border-width: 2px;
    margin: auto;
}

.typeBox {
    width: 220px;
    height: 30px;
    padding: 0 10px;
    border-radius: 15px;
}

#tologin {
    text-align: center;
    margin: auto;
    display: block;
    font-size: small;
}

.errorType {
    color: red;
    font-weight: bolder;
}