.container {
  height: 3rem;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;

    .showcolor {
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid #dadada;
      border-radius: 0.2rem;
      cursor: pointer;
    }
  }
  .colorpicker {
    transform: translateY(-125%);
    position: absolute;
    margin: 0.5rem;
    z-index: 999;
  }
}
