.Container {
  background-color: white;
  border-left: 1px solid #e5e5e5;
  display: grid;
  position: relative;
  box-sizing: border-box;
}
.ColResize {
  position: absolute;
  height: 30px;
  width: 10px;
  color: #e5e5e5;
  padding: 0;
  left: -11px;
  top: calc(50% - 15px);
  border-width: 1px 0 1px 1px;
  border-color: #e5e5e5;
  border-style: solid;
  background-color: white;
  cursor: col-resize;
}
.OverflowHidden {
  overflow: auto;
}
